/* styles/tailwind.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom CSS */

/* Body styles */
body {
  background-color: #f6f6f6;
  color: #333333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
/* header {
  background-color: #333333;
  padding: 20px;
} */

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.image-div {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

/* NewsList styles */
.news-list-container {
  margin: 40px;
  display: inline-block;
  position: static;
  /* width: 75%; Set the width to 50% of the screen */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60%;
  width: 60%;
  order:2;
  flex-wrap: wrap;
}

.news-item-title {
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(51, 66, 94);
  text-align: center;
}

.news-item-description {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.news-item-link {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.news-item-link:hover {
  border-bottom-color: #ff6b6b;
}

/* Spacing between news items */
.news-item:not(:last-child) {
  margin-bottom: 20px;
}

.news-src-button {
  text-align: right;
}

/* Footer styles */
footer {
  /* background-color: #333333; */
  padding: 20px;
  text-align: center;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-link:hover {
  border-bottom-color: #ff6b6b;
}


@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  /* background-color: white; */
  padding: 20px;
  color: black;
  text-align: center;
  animation: slideIn 1s ease-out;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-title {
  font-size: 300%;
  margin-bottom: 10px;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: Old Standard TT;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  webkit-font-smoothing: subpixel-antialiased;
  display:inline-block;
    -webkit-transform:scale(1,2.5); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1.5,2.5);
    text-decoration: underline;
}

.header-subtitle {
  font-size: 18px;
  opacity: 0.8;
}

#article-source {
    font-style: italic;
    color: light rgb(39, 39, 99);
    background-color: #EEEEEE
}